@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@700&display=swap');

.container_aside {
    width: max-content;
    display: flex;
    flex-direction: column;
    background: #030303;
    height: 100vh;
}

.container_main {
    display: flex;
}

.container_principal {
    display: flex;
}

.search_button {
    margin-top: 2vw;
    height: 5%;
}

.infosBrian {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    padding: 30px;
    gap: 10px;
}

.profission {
    color: #797979;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nameBrian {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.background_image {
  width: 153px; /* Defina a largura desejada */
  height: 150px; /* Defina a altura desejada */
  border-radius: 50%; /* Isso cria a forma circular */
  overflow: hidden; /* Garante que a imagem se ajuste à forma circular */
  background-image: url('../images/img_brian.jpg');
  background-size: cover; /* Ajusta o tamanho da imagem */
  background-position: center -65px;
  background-repeat: no-repeat;
  border: 3px solid #00FF85;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.about_button {
    margin-top: 30px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px 40px;
    cursor: pointer;
}

.about_button:hover {
    background: rgba(255, 255, 255, 0.767);
}

.skills_button {
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px 27px;
    background: #001AFF;
    color: white;
    cursor: pointer;
}

.skills_button:hover {
    background: #001aff7c;
}

.work_button {
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px 45px;
    background: red;
    color: white;
    cursor: pointer;
}

.work_button:hover {
    background: rgb(255, 37, 37)
}

.contact_button {
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px 30px;
    background: #FFE81E;
    color: black;
    cursor: pointer;
}

.contact_button:hover {
    background: rgba(255, 230, 0, 0.692);
}

.tittles {
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
}

.tittlehome {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: clamp(50px, 10vw, 80px);
    width: 60%;
}

.tittleFrontEnd {
    color: #5C5C5C;
    font-family: 'Poppins';
    font-size: clamp(10px, 5vw, 20px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.icon_search {
    font-size: 30px;
    color: black;
    cursor: pointer;
    padding: 5px;
    width: max-content;
    height: max-content;
}

.icon_search:hover {
    background: #00FF85;
    border-radius: 50%;
    color: white;
}

.search_button {
    display: flex;
    align-items: center;
    gap: 5px;
    background: white;
    padding: 3px 10px 3px 5px;
    border-radius: 30px;
    width: 17%;
    margin-right: 60px;
}

.input_button {
    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
}